@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "ApercuMonoPro";
  src: url("../fonts/ApercuMonoProRegular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ApercuMonoPro Bold";
  src: url("../fonts/ApercuMonoProBold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ApercuMonoPro Light";
  src: url("../fonts/ApercuMonoProLight.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "ApercuMonoPro Medium";
  src: url("../fonts/ApercuMonoProMedium.ttf");
  font-weight: 400;
  font-style: normal;
}
